<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <app-hello-db></app-hello-db>

  <div *ngIf="name | async as data; else loading">
    {{data}}
  </div>
  <ng-template #loading let-data>
    <google-signin
      [clientId]="myClientId"
      [width]="myWidth"
      [theme]="myTheme"
      [scope]="myScope"
      [longTitle]="myLongTitle"
      (googleSignInSuccess)="onGoogleSignInSuccess($event)">
    </google-signin>
  </ng-template>
  
    
</div>
